!!!strict

head
	title Quoter
	script(type='text/javascript', src='jquery.min.js')
	script(type='text/javascript', src='popupScript.js')
	link(rel='stylesheet', type='text/css', href='popup.css')
body
	#quotes