body {
	font-size: 14px;
}
#quotes {
	width: 500px;
	display:block;
}
.sourceLink {
	display: inline-block;
}
a {
	color: #0000FF;
	text-decoration: underline;
}
a:active, a:hover {
	color: #0000AA;
}
.quote {
	color: black;
	margin: 12px;
	padding: 12px;
	border: 1px solid #ccc;
	-moz-box-shadow: 0px 0px 1px 1px #ccc;
	-webkit-box-shadow: 0px 0px 1px 1px #ccc;
	box-shadow: 0px 0px 1px 1px #ccc;
	background-color: #eee;
}
.deleteButton {
	display: inline-block;
	margin: 0px 12px;
}
